body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-source-serif-4: "Source Serif 4";
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-base: 16px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #0e0e0e;
  --color-gray-200: #040404;
  --color-black: #000;
  --color-whitesmoke-100: #f3f4f4;

  /* Gaps */
  --gap-base: 16px;

  /* Paddings */
  --padding-2xl: 21px;
  --padding-53xl: 72px;
}
